li a {
    color: green;
}

body {
    /* background: white url("images/background.jpg") no-repeat right bottom; */
    background: white url("images/background.jpg") right bottom;
    background-size: 100% 100%;
}

