#nav {
    width: 100%;
    background-color: green;
}


#nav li {
    display: inline;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav a:visited {
    color: white;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}
